# Build output
/target/
/build/
/dist/
/nbbuild/
/nbdist/
nbproject/build-impl.xml
nbproject/genfiles.properties

# IDE-specific files
/.vscode/
/nbproject/private/
/.idea/
/*.iml

# Logs and temp files
*.log
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

# Database configuration
src/java/DAL/DBContext.java

# Ignore Google login congig
src/java/Controller/Login/Constants.java