<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CRUDUserList</servlet-name>
        <servlet-class>Controller.User.CRUDUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserAddStaff</servlet-name>
        <servlet-class>Controller.User.CRUDUserAddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserEditStaff</servlet-name>
        <servlet-class>Controller.User.CRUDUserEditStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserEditCustomer</servlet-name>
        <servlet-class>Controller.User.CRUDUserEditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.User.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserResetPassword</servlet-name>
        <servlet-class>Controller.User.CRUDUserResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>Controller.Blog.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.StatusBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.CreateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.SearchBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProductServlet</servlet-name>
        <servlet-class>Controller.Product.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductServlet</servlet-name>
        <servlet-class>Controller.Product.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>Controller.Product.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGoogle</servlet-name>
        <servlet-class>Controller.Login.loginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginuser</servlet-name>
        <servlet-class>Controller.Login.loginuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>Controller.Login.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controller.Login.logout</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>sendCode</servlet-name>
        <servlet-class>Controller.Login.sendCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPass</servlet-name>
        <servlet-class>Controller.Login.forgotPass</servlet-class>

        <servlet-name>ImportProductServlet</servlet-name>
        <servlet-class>Controller.Product.ImportProductServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>CRUDUserList</servlet-name>
        <url-pattern>/CRUDUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserAddStaff</servlet-name>
        <url-pattern>/CRUDUserAddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserEditStaff</servlet-name>
        <url-pattern>/CRUDUserEditStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserEditCustomer</servlet-name>
        <url-pattern>/CRUDUserEditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserResetPassword</servlet-name>
        <url-pattern>/CRUDUserResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/BlogManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/DeleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusBlogServlet</servlet-name>
        <url-pattern>/StatusBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/EditBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlogServlet</servlet-name>
        <url-pattern>/CreateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogServlet</servlet-name>
        <url-pattern>/SearchBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProductServlet</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductServlet</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGoogle</servlet-name>
        <url-pattern>/loginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginuser</servlet-name>
        <url-pattern>/loginuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>sendCode</servlet-name>
        <url-pattern>/sendCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPass</servlet-name>
        <url-pattern>/forgotPass</url-pattern>

        <servlet-name>ImportProductServlet</servlet-name>
        <url-pattern>/ImportProduct</url-pattern>
    </servlet-mapping>
</web-app>
