<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>updateCartServelet</servlet-name>
        <servlet-class>Controller.Product.forCustomer.updateCartServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitorderSeverlet</servlet-name>
        <servlet-class>Controller.Product.forCustomer.submitorderSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userprofile</servlet-name>
        <servlet-class>Controller.User.Profile.userprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>Controller.Login.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myorder</servlet-name>
        <servlet-class>Controller.User.Profile.myorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>Controller.User.Profile.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productbycategoryServerl</servlet-name>
        <servlet-class>Controller.Product.forCustomer.productbycategoryServerl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchproductbykeywords</servlet-name>
        <servlet-class>Controller.Product.forCustomer.searchproductbykeywords</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addtocartServerlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartdetailServlet</servlet-name>
        <url-pattern>/cartdetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServelet</servlet-name>
        <url-pattern>/updateCartServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitorderSeverlet</servlet-name>
        <url-pattern>/submitorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userprofile</servlet-name>
        <url-pattern>/userprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myorder</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productdetailServerlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productbycategoryServerl</servlet-name>
        <url-pattern>/productbycategoryServerl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchproductbykeywords</servlet-name>
        <url-pattern>/searchproductbykeywords</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ShowProductHomeServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CRUDUserList</servlet-name>
        <servlet-class>Controller.User.CRUDUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserAddStaff</servlet-name>
        <servlet-class>Controller.User.CRUDUserAddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserEditStaff</servlet-name>
        <servlet-class>Controller.User.CRUDUserEditStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserEditCustomer</servlet-name>
        <servlet-class>Controller.User.CRUDUserEditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.User.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDUserResetPassword</servlet-name>
        <servlet-class>Controller.User.CRUDUserResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>Controller.Blog.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.DeleteBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.StatusBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.EditBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.CreateBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogServlet</servlet-name>
        <servlet-class>Controller.Blog.SearchBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProductServlet</servlet-name>
        <servlet-class>Controller.Product.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductServlet</servlet-name>
        <servlet-class>Controller.Product.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>Controller.Product.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGoogleServlet</servlet-name>
        <servlet-class>Controller.Login.loginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginuserServlet</servlet-name>
        <servlet-class>Controller.Login.loginuserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Controller.Login.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Controller.Login.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>Controller.Category.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>Controller.Category.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>Controller.Category.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <servlet-class>Controller.Category.CreateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendCodeServlet</servlet-name>
        <servlet-class>Controller.Login.sendCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassServlet</servlet-name>
        <servlet-class>Controller.Login.forgotPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportProductServlet</servlet-name>
        <servlet-class>Controller.Product.ImportProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServelet</servlet-name>
        <servlet-class>Controller.Product.forCustomer.addToCartServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showOrderDetailServelet</servlet-name>
        <servlet-class>Controller.Product.forCustomer.showOrderDetailServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocartServerlet</servlet-name>
        <servlet-class>Controller.Product.forCustomer.addtocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartdetailServlet</servlet-name>
        <servlet-class>Controller.Product.forCustomer.cartdetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productdetailServerlet</servlet-name>
        <servlet-class>Controller.User.Profile.productdetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CRUDUserList</servlet-name>
        <url-pattern>/CRUDUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserAddStaff</servlet-name>
        <url-pattern>/CRUDUserAddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserEditStaff</servlet-name>
        <url-pattern>/CRUDUserEditStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserEditCustomer</servlet-name>
        <url-pattern>/CRUDUserEditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDUserResetPassword</servlet-name>
        <url-pattern>/CRUDUserResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/BlogManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogServlet</servlet-name>
        <url-pattern>/DeleteBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusBlogServlet</servlet-name>
        <url-pattern>/StatusBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogServlet</servlet-name>
        <url-pattern>/EditBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlogServlet</servlet-name>
        <url-pattern>/CreateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogServlet</servlet-name>
        <url-pattern>/SearchBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProductServlet</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductServlet</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGoogleServlet</servlet-name>
        <url-pattern>/loginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginuserServlet</servlet-name>
        <url-pattern>/loginuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/EditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <url-pattern>/CreateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendCodeServlet</servlet-name>
        <url-pattern>/sendCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassServlet</servlet-name>
        <url-pattern>/forgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportProductServlet</servlet-name>
        <url-pattern>/ImportProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowProductHomeServlet</servlet-name>
        <servlet-class>Controller.Product.forCustomer.ShowProductHomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowProductHomeServlet</servlet-name>
        <url-pattern>/ShowProductHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServelet</servlet-name>
        <url-pattern>/addToCartServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showOrderDetailServelet</servlet-name>
        <url-pattern>/showOrderDetailServelet</url-pattern>
    </servlet-mapping>
</web-app>
