/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 15, 2024, 8:55:35 PM
    Author     : Dell
*/
.btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #218838;
}

#loadMore {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
/*    cursor: pointer;*/
}

#loadMore:hover {
    background-color: #0056b3;
}

